@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.welcome-container {
  background-image: url("../assets/logo.png"); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 120px; 
}

.overlay {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #e6caf3; 
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  max-width: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.1), 
              0 4px 12px rgba(0, 0, 0, 0.15);      
  animation: fadeSlideDown 1s ease-out;
}

.overlay h1,
.overlay p {
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
}


h1 {
  font-size: 3rem;
  color: #444;
}

p {
  font-size: 1.2rem;
  color: #666;
}

.welcome-btn{
  position: absolute;
  top: 50%;            
  right: 30px;           
  transform: translateY(-50%); 
  padding: 12px 24px;
  background-color: #dca1f5; 
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.welcome-btn:hover {
  background-color: #ffb3b3;
}
